body {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn-container {
    padding: 40px;
}

.addBook {
    display: block;
    margin: 0 auto;
    border: none;
    background-color: orange;
    font-weight: 700;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 40px;
}

#bookForm {
    display: flex;
    flex-direction: column;
}

input {
    padding: 5px;
    margin-bottom: 20px;
}